ion-content {
  --background: #2f3237 !important;
}

ion-toolbar {
  //--background: #00b33c !important;
  --background: #222428 !important;
}

ion-tab-bar {
  --ion-color-dark-contrast: #00b33c !important;
}

ion-title {
  --color: white;
}

ion-back-button {
  color: #00b33c !important;
}

.ion-icon-color {
  color: #00b33c !important;
}

ion-item {
  --background: #2f3237 !important;
}