ion-content {
  --background: #2f3237 !important;
}

ion-toolbar {
  //--background: #00b33c !important;
  --background: #222428 !important;
}

ion-title {
  --color: white;
}

ion-item {
  --background: #2f3237 !important;
}

ion-icon {
  color: #00b33c !important;
}

