<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button  defaultHref="/tabs" routerLink="/tabs"></ion-back-button>
        </ion-buttons>
        <ion-title class="text-center">
            {{'Use Profile'}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-icon class="ion-icon-color mr-1" name="create" slot="icon-only"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <img class="rounded-circle mx-auto d-block w-50 h-25 image-margin" src="../../assets/img/who-pays-profile-image.jpg">
    <ion-item class="mt-5" color="dark">
        <ion-icon class="mr-1" name="person"></ion-icon>
        <ion-label>Username</ion-label>
        <ion-label>Admin</ion-label>
    </ion-item>
    <ion-item class="mt-3" color="dark">
        <ion-icon class="mr-1" name="lock"></ion-icon>
        <ion-label>Password</ion-label>
        <ion-label class="input-length" type="password" size="50">****</ion-label>
    </ion-item>
    <ion-item class="mt-3" color="dark">
        <ion-icon class="mr-1" name="call"></ion-icon>
        <ion-label>Phone Number</ion-label>
        <ion-label class="input-length" type="tel" size="50">6620967918</ion-label>
    </ion-item>
    <ion-item class="mt-3" color="dark">
        <ion-icon class="mr-1" name="mail"></ion-icon>
        <ion-label>Email</ion-label>
        <ion-label class="input-length" type="email" size="50">rafael.gomezp@gmail.com</ion-label>
    </ion-item>
</ion-content>
