<ion-content color="dark">
  <img class="rounded mx-auto d-block w-50 h-25 image-margin" src="../../assets/img/who-pays-image-logo.png">


  <ion-item class="mt-5" color="dark">
    <ion-icon class="mr-1" name="person"></ion-icon>
    <ion-label>Username</ion-label>
    <ion-input class="input-length" type="text"
               [(ngModel)]="userAccount.username"
    ></ion-input>
  </ion-item>
  <ion-item class="mt-2" color="dark">
    <ion-icon class="mr-1" name="lock"></ion-icon>
    <ion-label>Password</ion-label>
    <ion-input class="input-length" type="password" size="50"
               [(ngModel)]="userAccount.password"></ion-input>
  </ion-item>
  <ion-item class="mt-2" color="dark">
    <ion-icon class="mr-1" name="lock"></ion-icon>
    <ion-label>Confirm Password</ion-label>
    <ion-input class="input-length" type="password" size="50"
               [(ngModel)]="confirmedPassword"></ion-input>
  </ion-item>
  <ion-button class=" button-color mt-2" shape="round" expand="block" size="large" (click)="onSubmitCredentials()">
    Create Account
  </ion-button>
</ion-content>