<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/tabs" routerLink="/tabs/group/balance"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">
      {{activityName || 'Group Overview'}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="ion-icon-color" size="large" name="add"  slot="icon-only"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOptions">
    <ion-slide>
      <ion-img src="../../assets/img/who-pays-profile-image.jpg" class="rounded-circle"></ion-img>
      <label>slide 1</label>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/img/who-pays-profile-image.jpg" class="rounded-circle"></ion-img>
      <label>slide 2</label>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/img/who-pays-profile-image.jpg" class="rounded-circle"></ion-img>
      <label>slide 3</label>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/img/who-pays-profile-image.jpg" class="rounded-circle"></ion-img>
      <label>slide 4</label>
    </ion-slide>
  </ion-slides>
</ion-content>
